{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI-Chef</title>
    <link href="{% static 'css/normalize.css' %}" rel="stylesheet" >
    <link href="{% static 'users/style.css' %}" rel="stylesheet" >
</head>
<body>
    <header>
        <img src="{% static 'images/logo.png' %}" alt="logo" id="logo">
        <h1>AI Chef</h1>
        <p>An intuitive tool designed to optimize your fridge contents,
            this product suggests breakfast, lunch, and dinner recipes based on what you have,
            ensuring you make the most of every ingredient and reduce food waste.</p>
    </header>
    {% block body %}
    {% endblock %}
</body>
</html>