{% extends "users/layout.html" %}

{% block body %}
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'signup' %}" method="post" id="myForm">
        {% csrf_token %}
        <fieldset>
            <legend>Sign Up for An New Account: </legend>
            <label for="email">Email: </label>
            <input type="email" name="email" placeholder="email">
            <label for="tel">Phone Number: </label>
            <input type="tel" name="mobile" placeholder="phone number">
            <label for="first_name">First Name: </label>
            <input type="text" name="first_name" placeholder="first name">
            <label for="last_name">Last Name: </label>
            <input type="text" name="last_name" placeholder="last name">
            <label for="password">Password: </label>
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Signup" id="submit">
        </fieldset>
       
    </form>

{% endblock %}