{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI-Chef</title>
    <link href="{% static 'css/normalize.css' %}" rel="stylesheet" >
    <link href="{% static 'users/user.css' %}" rel="stylesheet" >
</head>
<body>
    <header>
        <img src="{% static 'images/logo.png' %}" alt="logo" id="logo">
        <h1 id="logo1">AI Chef</h1>
    </header>
    <nav>
        <a href="{% url 'users:login' %}">Login</a>
        <a href="{% url 'users:logout' %}">Logout</a>
        <a href="{% url 'food:index' %}">Add Food</a>
        <a href="{% url 'recipes:index' %}">All Recipes</a>
        <a href="{% url 'recipes:create-recipe' %}">Create New Recipe</a>
    </nav>
    <main>
        <h1>Recent Created Recipes</h1>

        <table>
            <!-- Table header -->
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Meal Type</th>
                    <th>Instructions</th>
                </tr>
            </thead>

            <!-- Table body -->
            <tbody>
                {% for recipe in recipes %}
                    <tr>
                        <td>{{ recipe.recipe_date }}</td>
                        <td>{{ recipe.get_meal_type_display|capfirst }}</td>
                        <td>{{ recipe.instruction|linebreaks }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


<p> <a href="{% url 'recipes:create-recipe' %}">Create New Recipe</a></p>

<style>
table, td, th {
border: 1px solid lightslategray;
}
</style>

    </main>


    <aside>
        <h1>Welcome, {{ request.user.first_name }}</h1>

        <ul>
            <li>Username: {{ request.user.username }}</li>
            <li>Email: {{ request.user.email }}</li>
        </ul><br>
        <h2>My Food List</h2>
        <ul id="itemList">
            {% for item in user_foods %}
            <li>{{item.item.name}}</li>
            {% endfor %}
        </ul>
   </aside>
    
</body>
</html>



